{% extends "layout.html" %}

{% block title %}
    history
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr class="table-dark">
            <th scope="col">Symbol</th>
            <th scope="col">Price</th>
            <th scope="col">Shares</th>
            <th scope="col">Transaction</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
          </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{transaction.symbol | upper}}</td>
            <td>{{transaction.price | usd}}</td>
            <td>{{transaction.shares}}</td>
            <td>{{transaction.transaction_type}}</td>
            <td>{{transaction.transaction_date}}</td>
            <td>{{transaction.transaction_time}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
